body {
    background-color: darkblue;
}

.container {
    display: inline-block;
    margin: 100px;
    margin-left: 100px;
    padding: 80px;
}

.container h1 {
    color: white;
}

h1 span {
    color: greenyellow;
    border-bottom: 1px solid greenyellow;
}

.search {
    display: flex;
    flex-direction: row;
}

#password {
    font-size: 30px;
    padding-right: 50px;
    padding: 5px;
}

.container img {
    height: 20px;
    position: relative;
    right: 30px;
    top: 15px;
}

.Generate {
    display: flex;
    flex-direction: row;

}

.Generate img {
    position: relative;
    left: 29px;
    top: 10px;

}

.Generate button {
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    background-color: white;
}